node_modules/
.DS_Store
**/backend/.DS_Store
**/frontend/.DS_Store
**/frontend/public/.DS_Store

package-lock.json

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

build/
dist/
out/
.next/
.cache/
.parcel-cache/

logs/
*.log
npm-debug.log*
yarn-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

pids/
*.pid
*.seed
*.pid.lock

.DS_Store
.vscode/
.idea/
*.iml

*.bak

coverage/
.nyc_output/

Testing/test-results/
Testing/playwright-report/
Testing/blob-report/
Testing/playwright/.cache/

backend/uploads/
backend/config/config.env
config/config.env

.eslintcache
.stylelintcache
*.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
